<% if (title == "About") { %>
<main>
  <div class="jumbotron">
        <h1 class="display-4 text-center">Welcome to the <%= title %> Me page!</h1>
        <h2>This is the About Me page, over here you will learn more about me and my hobbies.</h2>

        <article>
            <section>
                <h3>Hobbies</h3>
                <p>I started playing basketball in 8th grade, and I've never stopped since. I've gotten much better at it over the years and even branched out new 
                    healthy hobbies because of it, such as weightlifting. I played basketball competitively on my high school team, and even played in an adult 
                    league this past summer. I see it as an escape, and any moment I play basketball is a good time.</p>
            </section>
            <section>
                <h3>Future Goals</h3>
                <p>My goal for the future is to go into project management, more specifically IT project management. I heard it pays very well, and if there is money 
                    in something, count me in. I also like the idea of leading a team. I am getting closer everyday because I am learning things in this class
                    that will translate to be becoming an IT project manager.</p>
            </section>
            <section>
                <h3>Thoughts on the Class</h3>
                <p>I'm finding this class very interesting and very engaging. I am someone who learns through step by step procedures and this class has been nothing
                but that, it makes it very easy for me to make websites like this one. The portfolios and websites that I make in this class, I will probably use them
                in my professional career to highlight my milestones. It is also very valuable when applying to jobs as it can set me apart from the crowd. So overall,
                this class has been very beneficial to me and will aid me in the future.</p>
            </section>
        </article>
    </div>
</main>
<% } %>