<% if (title == "Home") { %>
<main>
  <div class="jumbotron">
    <h1 class="display-4 text-center">Welcome to the <%= title %> page!</h1>
    <h3>Welcome to Hashir Sheikh's Portfolio! Select any of the links for more information.</h3>

    <!-- Centering container for the card -->
    <div class="d-flex justify-content-center">
      <div class="card text-white bg-info mb-3" style="max-width: 40rem; height: 35rem;">
        <svg class="d-block user-select-none" width="100%" height="50%" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
          <rect width="100%" height="100%" fill="#868e96"></rect>
          <image href="Assets/images/Picture of me.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
        </svg>
        <div class="card-body">
          <p class="card-text">My name is Hashir Sheikh and I am a 3rd year student at Ontario Tech University. 
          I'm working towards a Bachelor's in Information Technology.

          On this page, I will be sharing some projects that I am working on outside of school, 
          some interesting facts about me, some of my hobbies, and there is also a contact form
          for you all to reach me.</p>
        </div>
      </div>
    </div>
  </div>
</main>
<% } %>

