<% if (title == "Project") { %>
<main>
  <div class="jumbotron">
        <h1 class="display-4 text-center">These are my previous <%= title %>s!</h1>
        <h2>This is the Projects page, over here you will learn about projects that I have completed in the past.</h2>

        <article>
                <section>
                    <h3>Events Manager</h3>
                    <p>I am a volunteer events manager at my local mosque in Ajax. I work with a team and stay in close contact with
                        the head office when planning events. I've hosted events consisting of more than 100+ people before, and I love
                        every second of it. I have been volunteering for a little over a year now, and I have a lot of fun doing it.
                    </p>
                </section>
                <section>
                    <h3>Coding Projects</h3>
                    <p>This is the 2nd coding project that I have done in this class, before this was assignment 1 where we used HTML and CSS code 
                    and implemented the use of semantic tags and made sure our websites were responsive. This is the first time I am coding using 
                    Java Script, I have to say that I do find this method a tad bit easier. It has been a challenge at times to make it work, I was
                    able to make it work. 
                </section>
                <section>
                    <h3>Basketball League</h3>
                    <p>Another project that I am going to start within the comming months is launching a mens basketball league 
                        with a team of people. It's something that I am really excited to do, and I can't wait to apply my knowledge
                        from this course towards the league, such as building websites for the project etc.
                    </p>
                </section>
            </article>
    </div>
</main>
<% } %>